<!-- Nav tabs -->
<div id="top">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a>
        </li>
        <li>
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
        </li>
    </ul>
    <div id="event_details">
        <div id="event_name">
            <h2 id="event-id" data-event-id="{{event.id}}">
                {{event.name}}
            </h2>

            <p>{{event.start_date}}</p>
        </div>

        <div id="event_time">
            {{#if event.finished}}
                <h1>Finished.</h1>
            {{else}}
                <h1 id="event-time" data-startdate="{{event.start_date}}">&nbsp;</h1>
            {{/if}}
        </div>
    </div>
</div>

<div class="tab-content">
    <div id="following" class="tab-pane fade in active" role="tabpanel">

        <table id="following-data-table">
            <thead>
                <th>Participant</th>
                {{#each checkpoints}}
                    <th data-checkpoint-id="{{id}}">{{name}}</th>
                {{/each}}
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="map"></div>
    </div>

    <div id="general" class="tab-pane fade" role="tabpanel">
        <table id="event-data-table">
            <thead>
                <th>Participant</th>
                <th>Category</th>
                <th>Team</th>
                <th>City</th>
                {{#each checkpoints}}
                    <th data-checkpoint-id="{{id}}">{{name}}</th>
                {{/each}}
                <th>Location</th>
            </thead>
            <tbody>
            {{#each participants}}
                <tr data-participant-event-id="{{participant_event_id}}">
                    <td class="participant_name">{{participant_name}} ({{starting_number}})</td>
                    <td>{{category_name}}</td>
                    <td>{{team}}</td>
                    <td>{{city}}</td>
                    {{#each ../checkpoints}}
                        <td
                                data-checkpoint-id="{{id}}"
                                data-participant-id="{{../id}}"
                                >
                            {{lookup ../times id}}
                        </td>
                    {{/each}}
                    <td>
                        <span class="follow">Follow</span>
                        <span class="unfollow">Unfollow</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
