<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a>
    </li>
    <li>
        <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
    </li>
</ul>

<div class="padding-20">
    <p id="event-id" data-event-id="{{event.id}}">
        <b>{{event.name}}</b>
    </p>

    <p>{{event.start_date}}</p>

    {{#if event.finished}}
        <h1>Finished.</h1>
    {{else}}
        <h1 id="event-time" data-startdate="{{event.start_date}}">&nbsp;</h1>
    {{/if}}

    <div id="map"></div>

    <table id="following-data-table">
        <thead>
            <th>Participant's name</th>
            <th>Number</th>
            {{#each checkpoints}}
                <th data-checkpoint-id="{{id}}">{{name}}</th>
            {{/each}}
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="event-data-table">
        <thead>
            <th>Participant's name</th>
            <th>Number</th>
            <th>Category</th>
            <th>Team</th>
            <th>City</th>
            {{#each checkpoints}}
                <th data-checkpoint-id="{{id}}">{{name}}</th>
            {{/each}}
            <th>Location</th>
        </thead>
        <tbody>
            {{#each participants}}
                <tr data-participant-event-id="{{participant_event_id}}">
                    <td class="participant_name">{{participant_name}}</td>
                    <td>{{starting_number}}</td>
                    <td>{{category_name}}</td>
                    <td>{{team}}</td>
                    <td>{{city}}</td>
                    {{#each ../checkpoints}}
                        <td
                            data-checkpoint-id="{{id}}"
                            data-participant-id="{{../id}}"
                            >
                            {{lookup ../times id}}
                        </td>
                    {{/each}}
                    <td>
                        <span class="follow">Follow</span>
                        <span class="unfollow">Unfollow</span>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>
